@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: #261f4dfa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(https://th.bing.com/th/id/OIP.W6epAGz4BQ7V-5rC-h4x8gHaEK?rs=1&pid=ImgDetMain);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 70vh;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #a0a0a0;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: rgb(201, 166, 14);
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-txt {
    width: 50%;
}

.header-txt span {
    font-size: 14px;
    color: black;
    text-transform: capitalize;
}

.header-txt h1 {
    font-size: 50px;
    line-height: 70px;
    color: white;
    margin-bottom: 50px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    text-transform: capitalize;
    color: white;
    background: linear-gradient(
        90deg,
        rgba(72, 87, 240, 1) 25%,
        rgba(23, 54, 164, 1) 100%
    );
    border-radius: 15px;
}

.header-img {
    width: 50%;
}

.header-img img {
    border-radius: 15%;
    height: 500px;
    width: 600px;
}

.games {
    padding: 0 0 50px 0;
    position: relative;
}

.ba {
    width: 250px;
    height: 200px;
    position: absolute;
    left: -250px;
    z-index: -1;
}

.txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.txt h2 {
    font-size: 30px;
    color: white;
}

.games-content {
    display: flex;
}

.game img {
    margin: 0 5px;
    width: 190px;
    border-radius: 15px;
}

.follo {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.follo img {
    width: 20px;
}

.follo h3 {
    color: white;
    font-size: 13px;
}

.btn-2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(30, 128, 111);
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 15px;
}

/* About */

.about {
    padding: 120px 0;
}

.about-content {
    display: flex;
}

.about-1 {
    width: 70%;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ), url(https://th.bing.com/th?id=OIF.WXCmYCtsEUe0hRF%2bIf%2bKBA&rs=1&pid=ImgDetMain);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    display: flex;
    align-items: end;
    height: 710px;
    margin-bottom: 10px;
}

.about-1 img {
    border-radius: 15%;
    width: 200px;
}

.about-1 h3 {
    font-size: 14px;
    color: white;
    margin-left: 15px;
}

.about-2 {
    width: 1200px;
    margin-left: 10px;
}

.about-in1 {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ), url(https://th.bing.com/th/id/R.0557a0026e5b852495b487da1f0e2bef?rik=xLrku5mPx3csLA&pid=ImgRaw&r=0);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    display: flex;
    align-items: end;
    height: 310px;
    margin-bottom: 10px;
}

.about-in1 img {
    width: 200px;
    height: 200px;
}

.about-in1 h3 {
    font-size: 14px;
    color: white;
    margin-left: 20px;
}

.about-in2 {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ), url(https://th.bing.com/th/id/OIP.byUlwqlRcIad39Aial6j9QHaEc?rs=1&pid=ImgDetMain);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    display: flex;
    align-items: end;
    height: 370px;
    margin-bottom: 10px;
}

.about-in2 img {
    width: 250px;
    border-radius: 15%;
}

.about-in2 h3 {
    font-size: 14px;
    color: white;
    margin-left: 15px;
}

/* News */

.news {
    padding: 100px 0;
}

.news-content {
    display: flex;
}

.news-txt {
    width: 70%;
    margin-right: 25px;
}

.news-1 {
    display: flex;
    margin-bottom: 20px;
}

.news-1 img {
    border-radius: 15px;
}

.news-form {
    width: 30%;
}

.news-right {
    margin-left: 10px;
}

.news-right h3 {
    color: blue;
    margin-bottom: 20px;
}

.news-right p {
    font-size: 16px;
    color: rgb(150, 16, 240);
    margin-bottom: 20px;
}

.btn-3 {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background-color: blueviolet;
    border-radius: 10px;
}

.news-form h3 {
    font-size: 18px;
    color: white;
}

.news-form p {
    font-size: 16px;
    color: blanchedalmond;
    margin-bottom: 20px;
}

input {
    padding: 13px 10px;
    outline: none;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    color: white;
    display: block;
}

hr {
    border: 1px solid black;
}

/* Footer */

.footer {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer h3 {
    color: white;
    font-size: 18px;
    margin-right: 15px;
}

.footer ul {
    display: flex;
}

.footer a {
    color: aliceblue;
    text-transform: capitalize;
    margin-right: 10px;
}

.footer a:hover {
    color: white;
}

@media (max-width: 991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: slategrey;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        flex-direction: column;
        padding: 100px 30px 30px 30px;
    }

    .header-txt {
        width: 100%;
        text-align: center;
    }

    .header-txt h1 {
        margin-bottom: 15px;
    }

    .header-img {
        width: 100%;
    }

    .header-img img {
        width: 100px;
        height: 300px;
    }

    .games {
        padding: 30px;
    }

    .ba {
        display: none;
    }

    .games-content {
        flex-direction: column;
        align-items: center;
    }

    .game {
        margin-bottom: 15px;
    }

    .btn-2 {
        width: 110px;
    }

    .about {
        padding: 30px;
    }

    .about-content {
        flex-direction: column;
    }

    .about-1 {
        width: 100%;
        margin-bottom: 10px;
    }

    .about-2 {
        width: 100%;
        margin-left: 0;
    }

    .news {
        padding: 30px;
    }

    .news-content {
        flex-direction: column;
    }

    .news-txt {
        width: 100%;
        margin-right: 0;
    }

    .news-form {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news-1 {
        flex-direction: column;
    }
}